name: cfrn
description: "Canada first radio ntm"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.1
  audioplayers: ^6.0.0
  google_fonts: ^6.2.1
  cupertino_icons: ^1.0.8
  window_manager: ^0.4.3
  shared_preferences: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  # [FIX] Declare the assets directory
  assets:
    - assets/
